/* customize css the way you want */

/* custom dropdown */
.atbd-dropdown{
    position: relative;
}
.atbd-dropdown-toggle{
    display: inline-block;
    border: 1px solid #eee;
    padding: 7px 15px;
}
.atbd-dropdown-items{
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    border: 1px solid #eee;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    width: 200px;
    transition: 0.3s ease;
    background: #fff;
    z-index: 10;
}
.atbd-dropdown-items.atbd-show{
    top: 30px;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}
.atbd-dropdown-item{
    display: block;
}
